# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Custom project ignores
build/
.venv/
__pycache__/
results/

# Tokenizer training outputs & test corpora
merges.txt
vocab.txt
volt_vocab.json
combined_merges.txt
combined_vocab.txt
combined_unigram_model.txt
combined_volt_vocab.json
unigram_model.txt
test_corpus.txt
*.model
*.spv

# MSVC / Visual Studio directories
.vs/
x64/
Debug/
Release/
